.calculator {
  width: 500px;
  margin: 5% auto;
}

.input-boxes {
  height: 41.99px;
  background-color: rgb(191, 187, 187);
  text-align: right;
  padding: 0.5rem;
  margin: 0;
}

.operation-buttons {
  width: 100%;
  height: 100%;
  border-radius: 0;
  font-size: 16pt;
}

.row {
  height: 75px;
}
